<h2>Flex Container Properties</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>flex</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Creates a flex container.</p>

    <pre>
        display: flex | inline-flex;
    </pre>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>flex-direction</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Establishes the main-axis (i.e, what direction flex items are placed).
    </p>

    <pre>
        flex-direction: row | row-reverse | column | column-reverse;
    </pre>

    <mat-form-field appearance="fill">
      <mat-label>flex-direction</mat-label>
      <mat-select
        #panel
        panelClass="peak-panel dropdown"
        [ngClass]="{ open: panel.panelOpen }"
        [disableOptionCentering]="true"
        [(ngModel)]="flexDirectionValue"
      >
        <mat-option *ngFor="let item of flexDirection" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div
      class="example align"
      [ngStyle]="{
        'flex-direction': flexDirectionValue
      }"
    >
      <div class="card">item 1</div>
      <div class="card">item 2</div>
      <div class="card">item 3</div>
      <div class="card">item 4</div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>flex-wrap</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Control the flex item wrapping behavior</p>

    <pre>
        flex-wrap: nowrap | wrap | wrap-reverse;
    </pre>
    <mat-form-field appearance="fill">
      <mat-label>flex-wrap</mat-label>
      <mat-select
        #panel
        panelClass="peak-panel dropdown"
        [ngClass]="{ open: panel.panelOpen }"
        [disableOptionCentering]="true"
        [(ngModel)]="flexWrapValue"
      >
        <mat-option *ngFor="let item of flexWrap" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      class="example"
      [ngStyle]="{
        'flex-wrap': flexWrapValue
      }"
    >
      <div class="card xl">item 1</div>
      <div class="card xl">item 2</div>
      <div class="card xl">item 3</div>
      <div class="card xl">item 4</div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>justify-content</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Defines the aligment along the main axis.</p>

    <pre>
        justify-content: flex-start | flex-end | center | space-between | space-around;
    </pre>

    <mat-form-field appearance="fill">
      <mat-label>justify-content</mat-label>
      <mat-select
        #panel
        panelClass="peak-panel dropdown"
        [ngClass]="{ open: panel.panelOpen }"
        [disableOptionCentering]="true"
        [(ngModel)]="justifyContentValue"
      >
        <mat-option *ngFor="let item of justifyContent" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      class="example"
      [ngStyle]="{
        'justify-content': justifyContentValue
      }"
    >
      <div class="card">item 1</div>
      <div class="card">item 2</div>
      <div class="card">item 3</div>
      <div class="card">item 4</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>align-items</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Establishes the alignment for flex items on the cross-axis (i.e, the
      direction perpendicular to the main-axis).
    </p>

    <pre>
        align-items: flex-start | flex-end | center | baseline | stretch;
    </pre>

    <mat-form-field appearance="fill">
      <mat-label>align-items</mat-label>
      <mat-select
        #panel
        panelClass="peak-panel dropdown"
        [ngClass]="{ open: panel.panelOpen }"
        [disableOptionCentering]="true"
        [(ngModel)]="alignItemsValue"
      >
        <mat-option *ngFor="let item of alignItems" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div
      class="example align"
      [ngStyle]="{
        'align-items': alignItemsValue
      }"
    >
      <div class="card">item 1</div>
      <div class="card">item 2</div>
      <div class="card">item 3</div>
      <div class="card">item 4</div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>gap</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Controls the space between flex items.</p>

    <pre>
        gap: 20px; // row-gap column-gap
    </pre>

    <div class="example gap">
      <div class="card">item 1</div>
      <div class="card">item 2</div>
      <div class="card">item 3</div>
      <div class="card">item 4</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<br />
<br />

<h2>Flex Item Properties</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>order</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Controls the order in which flex items appear.</p>

    <pre>
        order: 3; // default: 0
    </pre>

    <div class="example gap">
      <div class="card last">item 1</div>
      <div class="card">item 2</div>
      <div class="card">item 3</div>
      <div class="card">item 4</div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>flex-grow</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Used to make a flex item grow.</p>

    <pre>
        flex-grow: 1; // default: 0
    </pre>

    <div class="example gap">
      <div class="card">item 1</div>
      <div class="card grow">item 2</div>
      <div class="card">item 3</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>flex-shrink</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Used to make a flex item shrink.</p>

    <pre>
        flex-shrink: 2; // default: 1
    </pre>

    <div class="example gap huge">
      <div class="card">item 1</div>
      <div class="card">item 2</div>
      <div class="card">item 3</div>
      <div class="card">item 4</div>
      <div class="card shrink">shrinkable</div>
      <div class="card shrink">shrinkable</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>flex-basis</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Defines the default size of an element before the remaining space is
      distributed.
    </p>

    <pre>
      flex-basis: auto | content | max-content | min-content | fit-content(&#60;number&#62;); // default: auto
    </pre>

    <mat-form-field appearance="fill">
      <mat-label>flex-basis</mat-label>
      <mat-select
        #panel
        panelClass="peak-panel dropdown"
        [ngClass]="{ open: panel.panelOpen }"
        [disableOptionCentering]="true"
        [(ngModel)]="flexBasisValue"
      >
        <mat-option *ngFor="let item of flexBasis" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="example gap flex-basis">
      <div class="card" [ngStyle]="{ 'flex-basis': flexBasisValue }">
        item 1
      </div>
      <div class="card">item 2</div>
      <div class="card">item 3</div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>align-self</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Override the alignment of an individual flex item.</p>

    <pre>
        align-self: flex-start | flex-end | center | baseline | stretch;
    </pre>
    <mat-form-field appearance="fill">
      <mat-label>align-self</mat-label>
      <mat-select
        #panel
        panelClass="peak-panel dropdown"
        [ngClass]="{ open: panel.panelOpen }"
        [disableOptionCentering]="true"
        [(ngModel)]="alignSelfValue"
      >
        <mat-option *ngFor="let item of alignSelf" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="example align gap">
      <div class="card">item 1</div>
      <div class="card">item 2</div>
      <div class="card" [ngStyle]="{ 'align-self': alignSelfValue }">
        item 3
      </div>
      <div class="card">item 3</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<br />
<br />

<h2>Common Layouts</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>centered - horizontal & vertical</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Center an item both horizontally and vertically.</p>

    <pre>
        display: flex;
        justify-content: center;
        align-items: center;
    </pre>
    <div class="example align centered">
      <div class="card">item 1</div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>center n items vertically</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Center two or more items vertically.</p>
    <pre>
        display: flex;
        align-items: center;
    </pre>
    <div class="example center-vert">
      <span class="order-num">S305219SI21</span>
      <peak-icon name="bookmark" size="xs" color="#004987"></peak-icon>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>n elements on right side of container</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Place one or more elements on the right side of a container.</p>
    <pre>
        display: flex;
        justify-content: flex-end;
    </pre>
    <div class="example flex-end">
      <peak-button variant="secondary" theme="primary">Cancel</peak-button>
      <peak-button variant="primary" theme="primary">Submit</peak-button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title
        >elements on left and right side of container</mat-panel-title
      >
    </mat-expansion-panel-header>
    <p>
      Place one element on the left side of a container and another element on
      the right.
    </p>
    <pre>
        display: flex;
        justify-content: space-between;
    </pre>
    <div class="example space-between">
      <h1>Page Title</h1>
      <peak-button variant="primary" theme="primary">Submit</peak-button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Responsive Grid</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Responsive grid layout.</p>
    <pre>
        display: flex;
        flex-wrap: wrap;
    </pre>
    <div class="example grid">
      <div class="card">Item 1</div>
      <div class="card">Item 2</div>
      <div class="card">Item 3</div>
      <div class="card">Item 4</div>
      <div class="card">Item 5</div>
      <div class="card">Item 6</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<br />
<br />

<h2>Resources</h2>
<ul>
  <li>
    <strong>Course: </strong>
    <a href="https://flexbox.io/">What the Flexbox? by Wes Bos</a>
  </li>
  <li>
    <strong>Game: </strong>
    <a href="https://flexboxfroggy.com/">Flexbox Froggy</a>
  </li>
  <li>
    <strong>Guide: </strong>
    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
      >CSS-Tricks Guide to Flexbox</a
    >
  </li>
</ul>
